@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
:root {
    --font-main: 'Dosis', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    color: rgb(19, 19, 88);
    height: 100vh;
    width: 100vw;
}
header {
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0 10px;
    background-color: #fafafb;
    justify-content: space-around;
    box-shadow: 0px 2px 5px rgb(88 93 111 / 40%);
    align-items: center;
    z-index: 2;
}
.title {
	/* width: 30%; */
}
.tools {
	/* width: 70%; */
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1%;
}
.color-palette {
    display: grid;
    grid-template-columns: repeat(5, 15px);
    grid-gap: 5px;
    align-content: center;
    justify-items: center;
}
.color {
    width: 15px;
    height: 15px;
    border: .8px solid rgb(207, 205, 205);
    background-color: var(--set-color);
    cursor: pointer;
}
.canvas-container {
    height: 90%;
    width: 100%;
}
.canvas1 {
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
    touch-action: none;
}
.canvas2 {
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    touch-action: none;
}
.fake-canvas-div {
    display: none;
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    touch-action: none;
}
.btn {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 14px;
    color: rgb(19, 19, 88);
    background: #ffffff;
    border: .8px solid rgb(207, 205, 205);
    position: relative;
}
.btn:hover {
    background: rgba(212, 203, 203, 0.235);
}
.save-btn button {
	width: 100%;
	height: 50%;
}
.draw-btn button:first-child {
	height: 70%;
}
.draw-btn button:last-child {
    padding: 0;
    height: 30%;
}
.color-btn {
    width: 50px;
    padding: 5px 5px;
    position: relative;
}
.color-btn div {
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: green;
}
.size-btn, .rectangle-btn {
    min-width: 100%;
    padding: 5px;
}
.btn {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.rectangle-btn span {
    margin: 0 5px;
}
.rectangle-btn {
    min-width: min-content;
}
.size-list {
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 4px 30px rgba(165, 190, 204, 0.25);
    border: .8px solid rgb(207, 205, 205);
    padding: 0;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-block: 0;
    box-sizing: border-box;
}
.rectangle-list {
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 4px 30px rgba(165, 190, 204, 0.25);
    border: .8px solid rgb(207, 205, 205);
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-block: 0;
    box-sizing: border-box;
}
.show-list {
    display: flex;
    z-index: 3;
}
.size-list li {
    width: 85%;
}
.rectangle-list li {
    width: 90%;
    height: 100%;
    margin: 5%;
    border: 1px solid black;
}
.size-list li div {
    width: 100%;
    height: var(--set-size);
    background-color: rgb(19, 19, 88);
    margin-bottom: 10px;
    cursor: pointer;
}
.rectangle-list li div {
    /* width: 100%; */
    cursor: pointer;
    margin: 4%;
}
.color_box {
    width: 100%;
}
.color_box input[type=checkbox] {
    display: none;
    box-sizing: border-box;
}
.color_box span {
    box-sizing: border-box;
}
input[type=color] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
}

img#danger {
    transition: .2s;
}
img#danger:hover {
    transform: scale(1.2);
}

#apModal::-webkit-scrollbar {
	width: 15px;
}

/* Track */
#apModal::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
	margin-bottom: -20px;
}

/* Handle */
#apModal::-webkit-scrollbar-thumb {
	background: rgb(196, 196, 196); 
	border-radius: 10px;
}

/* Handle on hover */
#apModal::-webkit-scrollbar-thumb:hover {
	background: #7e7e7e; 
}

#apModal div div {
	span.collapsed:before {
		content: "► ";
	}
	span:not(.collapsed):before {
		content: "▼ ";
	}
	span.empty:before {
		content: "";
	}
}